<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>865849373364-tb90janb3s4p7mdotdlhuu11q2ojjlmq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.865849373364-tb90janb3s4p7mdotdlhuu11q2ojjlmq</string>
	<key>API_KEY</key>
	<string>AIzaSyDTLXAOcvJ0IFE8Y0csl5agHkyn26JC9xI</string>
	<key>GCM_SENDER_ID</key>
	<string>865849373364</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.EdApp</string>
	<key>PROJECT_ID</key>
	<string>ed-tech-ff2fb</string>
	<key>STORAGE_BUCKET</key>
	<string>ed-tech-ff2fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:865849373364:ios:8f48882173aa0aba8c5de1</string>
	<key>DATABASE_URL</key>
	<string>https://ed-tech-ff2fb.firebaseio.com</string>
</dict>
</plist>